@{
    ViewData["Title"] = "Harry Potter";
}

<div class="text-center">
    <h1 class="display-4">You're a wizard Harry</h1>
    <p>Learn about <a href="https://www.wizardingworld.com">Harry Potter and the wizarding world.</a>.</p>
</div>
